@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text-primary: #212121;
  --text-secondary: #5a5a5a;
  --bg-primary: #970416;
  --bg-secondary: #d80621;
  --bg-tertiary: #6b1224;
  --btn-bg: #ee4d2d;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  max-width: 1400px;
  margin: auto;
  padding: 140px 36px 10px 36px;
  width: 100%;
}

.loader-container {
  position: relative;
  inset: 0;
  background-color: rgba(244, 244, 244, 0.4);
  z-index: 99999999;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  /* width: 100px;
  height: 100px; */
}

.bg-gradient {
  background: linear-gradient(
    to bottom,
    var(--bg-secondary),
    var(--bg-primary)
  );
  z-index: 120;
}

.layout {
  padding: 10px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: var(--bg-secondary);
  font-size: 13px;
  padding: 18px 5px;
  border-radius: 15%;
  -moz-width: -moz-fit-content;
  width: fit-content !important;
  -moz-height: -moz-fit-content !important;
  height: fit-content !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 13px;
  top: 0;
}
.swiper-button-prev::after {
  font-size: 13px;
}
.swiper-button-next::after {
  font-size: 13px;
}

header {
  padding: 7px 0;
  position: fixed;
  /* inset: 0; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /* background-color: var(--bg-secondary); */
  background: linear-gradient(
    to bottom,
    var(--bg-secondary),
    var(--bg-primary)
  );
}

nav ul {
  justify-content: flex-start !important;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: 15px;
  font-size: 15px;
  color: #fff;
}

nav ul li a {
  color: #fff;
}

.top-bar {
  padding-bottom: 5px;
  margin: 0 18px;
}

.left-links {
  min-width: 50%;
}

.social-icon {
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #ebebeb;
  border-radius: 20%;
  padding-top: 2px;
  cursor: pointer;
}

.navbar-container {
  margin: 18px 18px 6px 18px;
  position: relative;
}

.logo {
  color: #fff;
  font-size: 18px;
}

.right-nav {
  width: 60%;
  justify-content: flex-end;
}

.search-bar {
  max-width: 500px;
  width: 500px;
  height: 35px;
  padding: 2px;
  background-color: #fff;
  margin-right: 30px;
}

.search-bar input {
  height: 100%;
  width: calc(100% - 45px);
  border: none;
  outline: none;
  padding-left: 7px;
}

.search-bar button {
  width: 45px;
  height: 100%;
  background-color: var(--bg-secondary);
  border: none;
  outline: none;
  cursor: pointer;
  justify-content: center;
}

.cart-icon {
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;

  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #ebebeb;
  border-radius: 100%;
  padding-top: 2px;
}
.cart-icon:hover {
  transform: scale(1.1, 1.1);
}
.cart-item-qty {
  position: absolute;
  top: -3px;
  right: -5px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

.cart-price {
  font-weight: 600;
  font-size: 22px;
  margin-left: 10px;
  color: var(--text-primary);
}

.menu-list {
  margin-top: 10px;
  margin-left: 20px;
}

.menu-list li {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.menu-list .menu-icon {
  padding: 5px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--btn-bg);
  border-radius: 5px;
  font-size: 15px;
}

.menu-list li a {
  color: var(--text-primary);
  margin-left: 10px;
  width: calc(100% - 25px);
}

.menu-footer {
  padding-left: 20px !important;
}

.user-menu {
  position: absolute;
  right: 0px;
  top: 60px;
  z-index: 90;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(90, 90, 90, 0.3);
  -moz-box-shadow: 0px 0px 3px 2px rgba(90, 90, 90, 0.3);
  box-shadow: 0px 0px 3px 2px rgba(90, 90, 90, 0.3);
  padding: 25px 20px;
  transition: all 1s ease-in-out;
  background-color: #fff;
}

.user-menu li {
  display: block;
  margin: 10px 0;
  padding: 5px;
}

.user-menu li a {
  color: var(--bg-primary);
}

.marquee-text {
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}
.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

span.text-red {
  -webkit-text-stroke: 1px #f02d34;
  margin-left: 6px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 7px; */
  row-gap: 7px;
  column-gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.hero-banner-container {
  padding: 100px 40px;
  background-color: #dcdcdc;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9;
  width: 100%;
}
.hero-banner-container .beats-solo {
  font-size: 20px;
}
.hero-banner-container button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
}

.hero-banner-container h3 {
  font-size: 4rem;
  margin-top: 4px;
}
.hero-banner-container h1 {
  color: white;
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}
.hero-banner-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 550px;
  height: 550px;
}

.desc {
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 300px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #324d67;
}
.desc p {
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
}
.desc h5 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}
.products-heading {
  text-align: left;
  margin: 40px 0px;
  color: #324d67;
}
.products-heading h2 {
  font-size: 40px;
  font-weight: 800;
}
.products-heading p {
  font-size: 16px;
  font-weight: 200;
}

.product-main {
  justify-content: center;
  /* margin-bottom: 40px; */
  width: 180px;
  height: auto;
}

.product-wrapper {
  padding: 0;
  position: relative;
  width: 100%;
  background-color: rgba(220, 220, 220, 0.1);
}

.hot-sale {
  width: 20px;
  height: 20px;
  background-color: var(--bg-secondary);
  position: absolute;
  z-index: 90;
  justify-content: center;
  top: 0px;
  left: 0px;
}

.product-card-image {
  position: relative;
  width: 100%;
  height: auto;
}

.products-link-wrapper {
  display: block;
  width: 100%;
}

.products-link-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 2px;
  border-top-left-radius: 10px;
}

.product-card-detail {
  padding: 10px;
}

.product-wrapper .name-price {
  align-items: flex-start;
}

.product-to-cart {
  background-color: #fff;
  padding: 8px 10px;
  border: 1px solid #fff;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  position: absolute;
  bottom: 4px;
  right: 0;
}

.product-price-wrapper {
  margin-top: 10px;
  justify-content: flex-start;
}

.price {
  justify-content: flex-start;
  align-items: flex-end;
  line-height: 0.5;
  margin-bottom: 8px;
}

.product-image {
  border-radius: 15px;
  background-color: #ebebeb;
  transition: transform 0.5s ease;
}

.product-name {
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
  margin: 7px 0;
}
.product-price {
  font-weight: 600;
  color: var(--text-primary);
  /* margin-right: 20px; */
  font-size: 25px;
}

.product-discount {
  color: var(--text-secondary);
  font-size: 15px;
  margin-left: 5px;
}

.category-wrapper {
  border: 1px solid var(--text-primary);
  padding: 15px;
  border-radius: 50%;
}

.category-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #324d67;
  justify-content: center;
}
.category-card:hover {
  transform: scale(1.1, 1.1);
}
.category-image {
  border-radius: 50%;
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.category-title {
  text-align: center;
  margin: 10px 0px;
  color: #324d67;
  font-size: 20px;
  font-weight: 500;
}

.footer-banner-container {
  padding: 100px 40px;
  background-color: #f02d34;
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1;
  color: white;
  width: 100%;
  margin-top: 120px;
}
.banner-desc {
  display: flex;
  justify-content: space-between;
}
.banner-desc button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: white;
  color: red;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.banner-desc .left h3 {
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}
.banner-desc .left p {
  margin: 18px;
}
.footer-banner-image {
  position: absolute;
  /* top: -35%;
  left: 8%; */
  top: -25%;
  left: 25%;
}
.banner-desc .right {
  line-height: 1.4;
}
.banner-desc .right h3 {
  font-weight: 800;
  font-size: 60px;
}
.banner-desc .right p {
  font-size: 18px;
}
.banner-desc .right .company-desc {
  font-size: 14px;
  font-weight: 300;
}
.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}
.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;
}

.footer-container {
  color: #324d67;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}
.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}
.cart-num-items {
  margin-left: 10px;
  color: #f02d34;
}
.empty-cart {
  margin: 40px;
  text-align: center;
}
.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}
.cancel {
  cursor: pointer;
}
.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}
.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}
.product .cart-product-image {
  width: 180px;
  height: 150px;
  border-radius: 15px;
  background-color: #ebebeb;
}
.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;
}
.item-desc .bottom {
  margin-top: 60px;
}
.flex h5 {
  font-size: 24px;
}
.flex h4 {
  font-size: 20px;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total h3 {
  font-size: 22px;
}
.remove-item {
  font-size: 18px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}
.cart-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 20px 65px 10px 65px;
  background-color: #fff;
}

.btn-container {
  width: 400px;
  margin: auto;
}
.btn {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: var(--text-primary);
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: 0.5s ease;
  border: 1px solid var(--text-primary);
  font-weight: 600;
}
.btn:hover {
  color: var(--text-primary);
  background-color: #fff;
}
.product-detail-container {
  display: flex;
  gap: 40px;
  margin-top: 0px;
  color: #324d67;
}

.product-detail-image {
  border-radius: 15px;
  background-color: #ebebeb;

  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.product-detail-image:hover {
  background-color: #f02d34;
}
.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small-image {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image {
  background-color: #f02d34;
}
.reviews {
  color: #f02d34;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.product-detail-desc h4 {
  margin-top: 10px;
}
.product-detail-desc p {
  margin-top: 10px;
}
.reviews p {
  color: #324d67;
  margin-top: 0px;
}
.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  color: #f02d34;
}
.price .old-price,
.product-price .old-price,
.price .old-price {
  color: gray;
  text-decoration: line-through;
}
.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}
.product-detail-desc .buttons {
  display: flex;
  gap: 30px;
}
.buttons .add-to-cart {
  padding: 10px 20px;
  border: 1px solid #f02d34;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1);
}
.buttons .buy-now {
  width: 200px;

  padding: 10px 20px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .buy-now:hover {
  transform: scale(1.1, 1.1);
}
.quantity-desc {
  border: 1px solid gray;
  /* padding: 9px 6px; */
  border-radius: 20px;
}
.quantity-desc span {
  font-size: 18px;
  padding: 6px 12px;
  cursor: pointer;
  height: 100%;
}
.quantity-desc .minus {
  border-right: 1px solid gray;
  color: #f02d34;
}
.quantity-desc .num {
  border-right: 1px solid gray;
  padding: 3px 12px;
}
.quantity-desc .plus {
  color: rgb(49, 168, 49);
}

.maylike-products-wrapper {
  margin-top: 120px;
}
.maylike-products-wrapper h2 {
  text-align: center;
  margin: 50px;
  color: #324d67;

  font-size: 28px;
}
.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.max-qty {
  font-weight: 500;
  color: #f02d34;
}
.success-wrapper,
.cancel-wrapper {
  background-color: white;
  min-height: 60vh;
}
.success,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 40px;
}
.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #324d67;
}
.success .email-msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.cancel p {
  font-size: 20px;
  font-weight: 600;
}
.success .description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}
.success .description .email {
  margin-left: 5px;
  color: #f02d34;
}
.product-max-qty {
  margin-top: 10px;
}

.checkout {
  width: 100%;
  align-items: flex-start;
}

.checkout .checkout-details {
  width: 65%;
  background-color: #ebebeb;
  padding: 0 20px 30px 20px;
  border-radius: 10px;
  color: var(--text-primary);
}

.checkout-details .products-heading {
  margin-bottom: 20px;
}

/* .checkout-card .quantity-desc {
  width: 150px;
} */

.checkout-details .name {
  font-weight: 600;
}

.change-btn button {
  padding: 5px 7px;
  background-color: var(--bg-secondary);
  color: #fff;
  border: 1px solid var(--bg-secondary);
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}

.checkout-address {
  background-color: #fff;
  margin-top: 20px;
  padding: 5px 20px 30px 20px;
  border-radius: 10px;
}

.checkout-products,
.payment-method {
  background-color: #fff;
  margin-top: 20px;
  padding: 5px 20px 30px 20px;
  border-radius: 10px;
}

.checkout-card {
  border-bottom: 3px solid var(--text-secondary);
}

.checkout-card:not(:first-child) {
  margin-top: 20px;
}

.checkout-card .products-heading {
  margin: 0 0 20px 0;
}

.checkout-card .product {
  padding: 0 0 20px 0;
}

.checkout-card .bottom {
  width: 100%;
  margin-top: 30px;
}

.checkout .checkout-summary {
  width: 33%;
  /* position: sticky;
  right: 22px; */
  background-color: #ebebeb;
  padding: 0 20px 30px 20px;
  border-radius: 10px;
  color: var(--text-primary);
}

.summary-main .d-flex {
  margin-bottom: 20px;
}

.grand-total {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.summary-main .disclaimer {
  font-size: 14px;
  text-align: center;
  padding: 0 6px;
}

.disclaimer a {
  color: var(--bg-secondary);
}

.summary-footer {
  margin-top: 30px;
}

.checkout .btn-container {
  width: 100%;
  margin-bottom: 20px;
}

.checkout .products-heading .title {
  font-weight: 600;
  font-size: 22px;
}

.auth-card {
  width: 500px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(90, 90, 90, 0.3);
  -moz-box-shadow: 0px 0px 3px 1px rgba(90, 90, 90, 0.3);
  box-shadow: 0px 0px 3px 1px rgba(90, 90, 90, 0.3);
  padding: 20px 20px 50px 20px;
  margin: 30px 0;
}

.auth-title {
  color: var(--text-primary);
}

.auth-card form {
  margin-top: 25px;
}

/* zoho-verification=zb18558663.zmverify.zoho.com */

.input-group {
  width: 100%;
  border-radius: 3px;
}

.input-group:not(.submit-btn) {
  margin-bottom: 22px;
  padding: 12px;
  border: 1px solid #c9c7c7;
}

.submit-btn input {
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
  background-color: var(--btn-bg);
  border-radius: 4px;
  color: #fff;
  margin-bottom: 6px;
  cursor: pointer;
}

.input-group.password input {
  width: calc(100% - 30px);
  margin-right: 3px;
}

.password div {
  width: 25px;
  display: inline-block;
}

.password button {
  border: none;
  outline: none;
  background-color: transparent;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.input-group input {
  width: 100%;
  border: none;
  font-size: 14px;
  outline: none;
}

.input-group input::placeholder {
  font-size: 14px;
}

.forgot-link a {
  font-size: 13px;
  color: #ee4d2d;
}

.change-page {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
}
.change-page a {
  color: #ee4d2d;
}

footer {
  padding: 0 36px;
  align-items: flex-start !important;
  margin-bottom: 10px !important;
}

.footer-text {
  border-top: 1px solid rgba(90, 90, 90, 0.5);
  margin: 0 36px 15px 36px;
  padding-top: 26px;
}

.footer-wrapper {
  border-top: 2px solid var(--bg-secondary);
  padding-top: 18px;
}

footer ul li {
  list-style: none;
}

.footer-heading {
  text-transform: uppercase;
  margin-bottom: 18px;
  color: var(--text-primary);
  font-weight: 500;
}

.footer-item {
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 400;
  color: var(--text-secondary);
}

.footer-image {
  margin-bottom: 10px;
}

.footer-image img {
  filter: opacity(0.5);
  /* filter: grayscale(1); */
}

.footer-image:hover > img {
  filter: opacity(1);
}

.footer-icon {
  background-color: var(--text-secondary);
  padding: 4px;
  border-radius: 10%;
  margin-right: 10px;
  -moz-width: -moz-fit-content;
  width: fit-content;
}

.footer-item a {
  justify-content: flex-start;
}

@media screen and (max-width: 800px) {
  .d-desktop {
    display: none !important;
  }

  .products-container {
    justify-content: space-between;
  }

  .right-nav {
    width: 100%;
  }

  .main-container {
    padding: 120px 10px 10px 10px;
  }

  .hero-banner-container {
    height: auto !important;
    padding: 10px;
    width: 100%;
  }
  .hero-right {
    width: 100%;
    height: fit-content;
  }
  .hero-banner-image {
    width: 100%;
    height: auto;
    position: unset;
  }
  .footer-banner-container {
    height: 560px;
    margin-top: 80px;
  }
  .footer-banner-image {
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%;
  }
  .banner-desc .left h3 {
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }
  .banner-desc .left p {
    margin: 18px;
  }
  .banner-desc .right h3 {
    font-size: 45px;
  }
  .banner-desc .right p {
    font-size: 18px;
  }
  .banner-desc .right .company-desc {
    font-size: 14px;
  }
  .banner-desc {
    flex-wrap: wrap;
    gap: 20px;
  }
  .hero-banner-container {
    line-height: 1.3;
  }
  .hero-banner-container h1 {
    font-size: 50px;
  }
  .hero-banner-container h3 {
    font-size: 40px;
  }
  .hero-banner-container button {
    margin-top: 90px;
    z-index: 10000;
  }
  .desc {
    bottom: 60px;
  }
  .product-detail-container {
    flex-wrap: wrap;
  }
  .product-detail-container .product-detail-image {
    width: 350px;
    height: 350px;
  }
  .cart-container {
    width: 100vw;
    padding: 4px;
  }
  .cart-heading {
    margin-top: 35px;
  }
  .cart-product-container {
    margin: 15px 0;
    overflow: auto;
    max-height: 70vh;
    padding: 20px 10px;
  }
  .product {
    padding: 20px 5px;
  }
  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }
  .buttons .add-to-cart {
    width: 150px;
  }
  .buttons .buy-now {
    width: 150px;
  }
  .product-detail-container {
    margin: 20px;
  }

  .item-desc .flex {
    width: 100%;
  }
  .top {
    flex-wrap: wrap;
    gap: 10px;
  }
  .item-desc .bottom {
    margin-top: 30px;
  }
  .flex h5 {
    font-size: 16px;
    color: #324d67;
  }
  .flex h4 {
    font-size: 16px;
    color: black;
  }
  .cart-bottom {
    padding: 30px;
  }

  .total h3 {
    font-size: 20px;
  }
  .track {
    animation: marquee 10s linear infinite;
    width: 550%;
  }
  .success-wrapper,
  .cancel-wrapper {
    min-height: 69vh;
  }
  .success,
  .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }
  .success {
    height: 350px;
  }
  .success h2 {
    font-size: 17px;
  }
  .btn-container {
    width: 300px;
    margin: auto;
  }
}
